@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 18% 10%;
    --foreground: 192 100% 90%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 204 79% 49%;
    --primary-foreground: 0 0% 9%;

    --secondary: 145 69% 55%;
    --secondary-foreground: 192 100% 97%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 6 78% 58%;
    --accent-foreground: 0 0% 98%;

    --destructive: 9 70% 45%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 16% 47%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    @apply h-full;
  }

  body {
    @apply bg-background text-foreground;
  }
}
